

  
       
body {
    margin-left: 10px;
    margin-right: 10px;

    overflow: hidden;
}

.anta-regular {
font-family: "Anta", sans-serif;
font-weight: 400;
font-style: normal;
}



#header {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
left: 0;
z-index: 1050; /* Eleva el z-index para que esté sobre otros elementos */
position: fixed;


}











#gallery-container {
    position: fixed;
    left: 0;
    width: 100%;
    height: 20%; 
    overflow-x: auto;

    white-space: nowrap;
    display: flex;
    flex-wrap: wrap; 
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    background-color: #bdedf1;
    background-image: url('lago.webp'); /* Ruta a la imagen de fondo */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 50), 0 0px 20px 0 rgba(106, 209, 3, 0.9); /* Standard shadow */


}




#gallery-container img {
    width: 50px;
    height: 50px;
    margin-right: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
vertical-align: middle;
background-size: cover; 
background-position: center;

    }








/* iPads en modo paisaje */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) {
#gallery-container-2 {
/* Ajustes para mejorar la visibilidad */
position: fixed;
top: 10%; /* Ajusta este valor según sea necesario */
}
#collage-container {
margin-top: 10vh; /* Espacio para la galería */
position: fixed;
}
}

/* iPads en modo retrato */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {

#gallery-container {
height: 20%;

position: fixed;
top: 5%; /* Ajuste según necesidad */
}    
#gallery-container-2 {
height: 10%;

position: fixed;
top: 30%; /* Ajuste basado en tu diseño específico */
}
#collage-container {
top: 5vh; /* Ajuste según el contenido de tu galería */
position: fixed;
}
}




/* Estilos específicos para iPhone 12 */
@media only screen 
and (min-device-width: 390px) 
and (max-device-width: 844px) {

#gallery-container img {

       width:10%;
    height: 30%;}


#gallery-container {
position: fixed;
top: 15%; /* Ajusta esta distancia según lo que se vea mejor */
gap: 2px;
    z-index: 5000;

}
}



#gallery-container{
position: fixed;
top: 10%; /* Posición ajustada para la visualización */
overflow-x: auto; /* Permite desplazamiento horizontal */
white-space: nowrap; 
padding: 20px; 
z-index: 5000;

}



.image-container {
    position: relative;
    display: inline-block;
}

.image-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    color: white;
    background-color: rgba(162, 162, 162, 0.7); 
    text-align: center;
    visibility: hidden; 
    border-radius: 10px;
    padding: 2px 0; 
}

.image-container:hover .image-name {
    visibility: visible; 
}



.no-scroll {
touch-action: none;
}






#collage-container img {

min-width:  60px;
min-height: 60px;
max-width: none;
max-height: none;
cursor: move;
transition: transform 0.1s ease; 
transform-origin: center center; 
}



.draggable {
    position: absolute;
    cursor: move;
    background-size: cover;
    background-position: center;
   touch-action: manipulation;

}



#collage-footer {
    text-align: center;
    font-size: 12px;
    margin-top: 200px;
    color: gray;
    position: fixed;
    bottom: -5px;
    left: 0;
    right: 0;
}

#selection-box {
    border: 1px solid #000000;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}


@media print {
body, html {
background: #FFF;
color: #000;
}
#print-button, #volume-control, #volume-slider, #bg-color-picker, #gallery-container img{
display: none; 
}

}
.draggable.selected {
border: 2px dashed #90ff00;
}

#logout-btn{
color: gray;
background-color: #fff;
border: none;

}
#logout-btn:hover{
border: 2px dashed  #c4d49c
}

.no-scroll {
overflow: hidden;
height: 100%;
}

#gallery-container img {
    position: relative;
    transition: transform 0.3s ease;

}

#gallery-container img:hover::after {
    content: "Your text here"; /* Replace 'Your text here' with whatever text you want on hover */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 50;
    background-color: rgba(255, 255, 255, 0); /* Semi-transparent overlay */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 20px; /* Adjust font size as needed */
    z-index: 6000;
}

#gallery-container img:hover::after {
    opacity: 1;
}


